language: php

php:
  - 5.5
  - 5.4
  - 5.3

branches:
  only:
    - master
    - development

before_script:
  - sudo apt-get update
  - sudo apt-get install php-pear
  - pear install PHP_CodeSniffer
  - phpenv rehash
       
script:
  - phpcs --standard=phpcs_ruleset.xml .
  - php index.php
