html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Verdana, sans-serif;
    background: #efefef;
}

#content {
    min-width: 276px;
    width: 85%;
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    color: #222;
    display: block;
    overflow: auto;
    padding: 10px 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 50px auto;
}

i, .italic {
    font-style: italic;
}

b, .bold {
    font-weight: bold;
}

ul, ul > li {
    list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAQElEQVQYV2NkwA58gMJbYFKMWNSAFGwGYl+YQmyKQPpQFIIUgQRwAbCJIEX/8SgCSxFtEjaDMNyErogk38HDCQB1cQ2h8AxomAAAAABJRU5ErkJggg==');   
}

.code {
    background: #222;
    color: #efefef;
    display: block;
    padding: 10px 15px;
    border: 1px solid #444;
    border-radius: 2px;
    font-family: "Courier New", Courier, Monospace;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table tr td {
    border-bottom: 1px solid #ccc;
    padding: 7px 10px;
}

table tr:nth-child(1) td {
    border-top: 1px solid #ccc;
    background: #222;
    color: #fff;
}